:root{
    --background-color: #F0F0F0;
    --text-primary-color: #2B2B2B;
    --button-primary-color: #FEC228;
    --white-95: rgba(250, 250, 250, 0.95);
    --white-90: rgba(250, 250, 250, 0.90);
    --primary-logo: #899979;
}